<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h2.osm.mapper.AdminMapper">
	<insert id="insert" parameterType="AdminInfo">
		insert into 
		adminInfo(id, rid, name, pwd, telephone, email, status) 
		values(
			seq_adminInfo.NEXTVAL,
			#{admin.rid},
			#{admin.name},
			#{admin.pwd},
			#{admin.telephone},
			#{admin.email},
			0
		)
	</insert>
	
	<select id="selectByCondition" resultType="AdminInfo">
		select * from adminInfo a
		where a.name = #{admin.name} and a.pwd = #{admin.pwd} and a.rid = #{admin.rid}
	</select>
</mapper>